<!-- Add you custom twig html here -->
{% extends "block.html.twig" %}
{#
/**
 * @file
 * Custom block
#}

{% block content %}
    <div>
        C'est le contenu {{ content_test }}
        Ajout de texte {{ content_test }}
    </div>
{% endblock %}
